version: '3.8'
services:
  # 백엔드 서비스 설정
  backend:
    build: . # 현재 폴더(루트)의 Dockerfile을 사용
    ports:
      - "3000:3000" # 내 컴퓨터 3000번 -> 도커 3000번 연결
    env_file:
      - .env # .env 파일 내용을 환경변수로 주입
    volumes:
      # 서비스 키 파일은 보안상 이미지에 안 넣고, 실행할 때 슬쩍 넣어줍니다.
      - ./serviceAccountKey.json:/app/serviceAccountKey.json
  # 프론트엔드 서비스 설정
  frontend:
    build: ./client # client 폴더의 Dockerfile을 사용
    ports:
      - "80:80" # 내 컴퓨터 80번 -> 도커 80번 연결
